.mobile-menu {
    padding: 24px;
    position: absolute;
    top: 61px;
    left: 0;
	background-color: var(--white);
    opacity: .95;
    border-right: 1px solid var(--very-light-pink);
    border-bottom: 1px solid var(--very-light-pink);
    border-radius: 6px;
    a {
        text-decoration: none;
        color: var(--black);
        font-weight: bold;
        /* margin-bottom: 24px; */
    }
    ul {
        padding: 0;
        margin: 24px 0 0;
        list-style: none;
        li {
            margin-bottom: 24px;
            .email {
                font-size: var(--sm);
                font-weight: 300 !important;
            }
            
            .sign-out {
                font-size: var(--sm);
                color: var(--hospital-green) !important;
            }
        }
    }
    ul:nth-child(1) {
        border-bottom: 1px solid var(--very-light-pink);
    }
}

