
:root {
	--white: #FFFFFF;
	--black: #000000;
	--very-light-pink: #C7C7C7;
	--text-input-field: #F7F7F7;
	--hospital-green: #ACD9B2;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}

/* quicksand-300 - latin */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300;
	src: url('@fonts/quicksand-v30-latin-300.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('@fonts/quicksand-v30-latin-300.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('@fonts/quicksand-v30-latin-300.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('@fonts/quicksand-v30-latin-300.woff') format('woff'),
		/* Modern Browsers */
		url('@fonts/quicksand-v30-latin-300.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('@fonts/quicksand-v30-latin-300.svg#Quicksand') format('svg');
	/* Legacy iOS */
}

/* quicksand-500 - latin */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	src: url('@fonts/quicksand-v30-latin-500.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('@fonts/quicksand-v30-latin-500.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('@fonts/quicksand-v30-latin-500.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('@fonts/quicksand-v30-latin-500.woff') format('woff'),
		/* Modern Browsers */
		url('@fonts/quicksand-v30-latin-500.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('@fonts/quicksand-v30-latin-500.svg#Quicksand') format('svg');
	/* Legacy iOS */
}

/* quicksand-700 - latin */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	src: url('@fonts/quicksand-v30-latin-700.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('@fonts/quicksand-v30-latin-700.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('@fonts/quicksand-v30-latin-700.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('@fonts/quicksand-v30-latin-700.woff') format('woff'),
		/* Modern Browsers */
		url('@fonts/quicksand-v30-latin-700.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('@fonts/quicksand-v30-latin-700.svg#Quicksand') format('svg');
	/* Legacy iOS */
}

body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}